@import "./reset";
@import "./navbar";
@import "./cards";
@import "./modal";
@import "./btn";

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: linear-gradient(#4444f5, #c700ff);
	font-family: "roboto", Arial, Helvetica, sans-serif;
}
